"*":
  core:
    disabledPackages: [
      "whitespace"
    ]
    projectHome: "/Users/jack/projects"
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "monokai-seti"
    ]
  editor: {}
  "exception-reporting":
    userId: "d399a843-a5c5-45d9-8ffc-843ef3db5460"
  "linter-ui-default":
    panelHeight: 56
  "terminal-plus":
    core:
      autoRunCommand: "source ~/.zshrc"
  welcome:
    showOnStartup: false
  whitespace: {}
