"*":
  core:
    disabledPackages: [
      "linter-eslint"
      "term2"
    ]
    excludeVcsIgnoredPaths: false
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
    ]
    themes: [
      "seti-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontFamily: "Source Code Pro"
    invisibles: {}
    preferredLineLength: 120
    showInvisibles: true
    softWrapAtPreferredLineLength: true
    tabType: "soft"
  "exception-reporting":
    userId: "005afcea-d713-dea6-ad54-b6ea4464635c"
  "git-plus": {}
  metrics:
    userId: "be6e9e9c4c6502c836a1455d2d2e6e9bb998cd25"
  "rails-transporter": {}
  "release-notes":
    viewedVersion: "0.89.0"
  term2: {}
  "trailing-spaces":
    enableForIndentation: true
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode": {}
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
    removeTrailingWhitespace: false
".diff.source":
  editor:
    preferredLineLength: 120
